# SERVICES
services:
  rabbitmq:
    container_name: rabbitmq
    build:
      context: .
      dockerfile: rabbitmq-repository/Dockerfile
    ports:
      # AMQP
      - "5672:5672"
      # CONSOLE
      - "15672:15672"
      # PROMETHEUS
      - "15692:15692"
    networks:
      - rabbitmq-network
    volumes:
      # DEFINIÇÕES DE FILAS, EXCHANGES, BINDINGS, USUÁRIOS, PERMISSÕES, ETC
      - "/mnt/c/CUSTOM/DEV/PESSOAL/BROKER/RABBITMQ/rabbitmq-docker-example/rabbitmq-repository/configuration/definitions:/etc/rabbitmq/definitions/conf.d"
      # ARQUIVO DE CONFIGURAÇÃO DO RABBITMQ
      - "/mnt/c/CUSTOM/DEV/PESSOAL/BROKER/RABBITMQ/rabbitmq-docker-example/rabbitmq-repository/configuration/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf"
      # DATABASE INTERNO
      - "/mnt/c/CUSTOM/DEV/PESSOAL/BROKER/RABBITMQ/rabbitmq-docker-example/rabbitmq-volume/var/lib/rabbitmq:/var/lib/rabbitmq/mnesia"
  prometheus:
    image: prom/prometheus:v2.45.0
    container_name: prometheus
    ports:
        - "9090:9090"
    volumes:
        # ARQUIVO DE CONFIGURAÇÃO DO PROMETHEUS
        - "/mnt/c/CUSTOM/DEV/PESSOAL/BROKER/RABBITMQ/rabbitmq-docker-example/rabbitmq-prometheus/configuration/prometheus.yml:/etc/prometheus/prometheus.yml"
    networks: 
        - rabbitmq-network
  grafana:
    image: grafana/grafana-enterprise:10.0.1
    container_name: grafana
    ports:
        - "3000:3000"
    volumes:
      # DATABASE INTERNO
      - "/mnt/c/CUSTOM/DEV/PESSOAL/BROKER/RABBITMQ/rabbitmq-docker-example/rabbitmq-grafana/volume/var/lib/grafana:/var/lib/grafana"
      # ARQUIVO DE CONFIGURAÇÃO DO GRAFANA
      - "/mnt/c/CUSTOM/DEV/PESSOAL/BROKER/RABBITMQ/rabbitmq-docker-example/rabbitmq-grafana/volume/etc/grafana/grafana.ini:/etc/grafana/grafana.ini"
    networks: 
        - rabbitmq-network
# NETWORK
networks:	
  rabbitmq-network:
    driver: bridge
